.main{
  border-style: solid;
  border-color: aqua;
}

.tablediv{
  width: 500px;
  height: 500px;
  margin: auto;

}
.tabl{
  border-style: solid;
  border-color: aqua;
  border-width: 10px;
  position: relative;
  top: 100px;
  right: -150px;

}

.head{
  position: relative;
  right: -540px;
  text-align: center;
  height:100px;
  width:300px;
  border-style: groove;
  border-color: aqua;
}

.header{
  border-style: solid;
  background-color: aquamarine;
}

.cells{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: antiquewhite
}
.cells1{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: cyan;
}
.cells2{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: darkorchid;
}
.cells3{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: gold;
}
.cells4{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: wheat;
}
.cells5{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: green;
}
.cells6{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: lemonchiffon;
}
.cells7{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: gray;
}
.cells8{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: lightcoral;
}
.cells9{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: chartreuse;
}
.cells10{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: aliceblue;
}
.cells11{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: ivory;
}
.cells12{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: brown;
}
.cells13{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: lavender;
}
.cells14{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: rosybrown;
}
.cells15{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: sienna;
}
.cells16{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: yellow;
}
.cells17{
  border-style: solid;
  border-color: beige;
  padding: 10px 20px;
  background-color: orchid;
}

.btn{
  background-color: green;
}
.form{
  position: relative;
  right: -600px;
}